
.column-left {
    width: 15%;
    left: 0;
    position: absolute;
    font-family: "Georgia",Times New Roman,Times,serif;
    padding: 0;
}
.column-center {
    width: 25%;
    margin-left:20%;
    position: absolute;
    font-family: "Georgia",Times New Roman,Times,serif;
    padding: 5em;
}
.column-right {
    width: 45%;
    right: 0;
    position: absolute;
    font-family: "Georgia",Times New Roman,Times,serif;
    padding: 0;
}

.main-bio {
	width: 75%;
	background-color: #333333;
	font-size: 28px;
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #eee;
}

.bio-image {
	float: left;
    font-size: 24px;
	font-family: "Georgia",Times New Roman,Times,serif;
	width: 1024px;
}